@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

/* Add font-family to specific elements if needed */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}
html {
  scroll-behavior: smooth;
  /* font-family: "Be Vietnam Pro", sans-serif; */
  
}

body {
  background-color: #000;
  color: #fff;
}

.gradiant-text {
  -webkit-background-clip: text;
  @apply bg-gradient-to-t from-blue-500 to-cyan-500 text-transparent;
  overflow: hidden;
  border-right: 2px solid #fff;
  animation: typing-text steps(40) 3s infinite, blink ease 0.3s infinite;
  text-wrap: nowrap;
  display: inline-block;
  width: max-content;
  width: 0;
}

@keyframes typing-text {
  from {
      width: 0%;
  } 
  to {
      width: 350px;
  }
}

@keyframes typing-text {
  to {
      border-color: transparent;
  }
}

